<div class="navbar-content">
    <ul class="nxl-navbar">
        <li class="nxl-item nxl-caption">
            <label>Navigation</label>
        </li>
        <li class="nxl-item ">
            <a href="/dashboard" class="nxl-link">
                <span class="nxl-micon">
                    <i class="feather-airplay"></i>
                </span>
                <span class="nxl-mtext">Dashboard</span>
            </a>
        </li>
        <li class="nxl-item ">
            <a href="/pending-applications" class="nxl-link">
                <span class="nxl-micon">
                    <i class="feather-alert-triangle"></i>
                </span>
                <span class="nxl-mtext">Pending Applicant</span>
            </a>
        </li>
        <li class="nxl-item ">
            <a href="/completed-applications" class="nxl-link">
                <span class="nxl-micon">
                    <i class="feather-check"></i>
                </span>
                <span class="nxl-mtext">Completed Applicant</span>
            </a>
        </li>
        <li class="nxl-item ">
            <a href="/my-applications" class="nxl-link">
                <span class="nxl-micon">
                    <i class="feather-folder"></i>
                </span>
                <span class="nxl-mtext">All Applicant</span>
            </a>
        </li>
        <li class="nxl-item ">
            <a href="/search-applications" class="nxl-link">
                <span class="nxl-micon">
                    <i class="feather-search"></i>
                </span>
                <span class="nxl-mtext">Search Applicant</span>
            </a>
        </li>
        <li class="nxl-item ">
            <a href="/services" class="nxl-link">
                <span class="nxl-micon">
                    <i class="feather-briefcase"></i>
                </span>
                <span class="nxl-mtext">Services</span>
            </a>
        </li>
        <li class="nxl-item ">
            <a href="/settings" class="nxl-link">
                <span class="nxl-micon">
                    <i class="feather-settings"></i>
                </span>
                <span class="nxl-mtext">Settings</span>
            </a>
        </li>
        <li class="nxl-item ">
            <a href="\logout" class="nxl-link">
                <span class="nxl-micon">
                    <i class="feather-log-out"></i>
                </span>
                <span class="nxl-mtext">Logout</span>
            </a>
        </li>
    </ul>
</div>