{% extends 'base.html' %}

{% block main %}
<!-- [ page-header ] start -->
<div class="page-header">
    <div class="page-header-left d-flex align-items-center">
        <div class="page-header-title">
            <h5 class="m-b-10">Search Applications</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Search Applications</li>
        </ul>
    </div>
</div>
<!-- [ page-header ] end -->
<!-- [ Main Content ] start -->
<div class="main-content" style="min-height: 70vh;">
    <div class="row">
        <div class="col-lg-12">
            <div class="card stretch stretch-full">
                <div class="card-body">
                    <form method="get" action="{% url 'search_applications' %}">
                        <div class="row">
                            <div class="col-md-3 mt-2">
                                <input type="text" placeholder="Client ID" class="form-control" id="search_client_id" name="search_client_id" value="{{ request.GET.search_client_id }}">
                            </div>
                            <div class="col-md-3 mt-2">
                                <input type="text" placeholder="Phone Number" class="form-control" id="search_phone" name="search_phone" value="{{ request.GET.search_phone }}">
                            </div>
                            <div class="col-md-3 mt-2">
                                <input type="email" placeholder="Email" class="form-control" id="search_email" name="search_email" value="{{ request.GET.search_email }}">
                            </div>
                            <div class="col-md-3 mt-2">
                                <select class="form-control" name="search_application_status" id="search_application_status">
                                    <option value="" disabled selected>Select Application Status</option>
                                    <option value="pending" {% if request.GET.search_application_status == 'pending' %}selected{% endif %}>Pending</option>
                                    <option value="ready" {% if request.GET.search_application_status == 'ready' %}selected{% endif %}>Ready to Submit</option>
                                    <option value="submitted" {% if request.GET.search_application_status == 'submitted' %}selected{% endif %}>Submitted/Complete</option>
                                    <option value="approved" {% if request.GET.search_application_status == 'approved' %}selected{% endif %}>Approved</option>
                                    <option value="rejected" {% if request.GET.search_application_status == 'rejected' %}selected{% endif %}>Rejected</option>
                                    <option value="backedout" {% if request.GET.search_application_status == 'backedout' %}selected{% endif %}>Backed out</option>
                                </select>
                            </div>
                            <div class="col-md-3 mt-2">
                                <label>Start date</label>
                                <input type="date" class="form-control" id="search_start_date" name="search_start_date" max="{{ today }}" value="{{ request.GET.search_start_date }}">
                            </div>
                            <div class="col-md-3 mt-2">
                                <label>End date</label>
                                <input type="date" class="form-control" id="search_end_date" name="search_end_date" value="{{ request.GET.search_end_date }}">
                            </div>
                            <div class="col-md-3 mt-2">
                                <label>UCI Number</label>
                                <input type="text" class="form-control" id="search_uci_number" name="search_uci_number" value="{{ request.GET.search_uci_number }}">
                            </div>
                            {% if request.user.profile.role == "admin" or request.user.profile.role == "manager" or request.user.profile.role == "accountant"%}
                            <div class="col-md-3 mt-2">
                                <label>Payment Status</label>
                                <select class="form-control" name="search_payment_status" id="search_payment_status">
                                    <option value="" disabled selected>Select Payment Status</option>
                                    <option value="pending" {% if request.GET.search_payment_status == 'pending' %}selected{% endif %}>Pending</option>
                                    <option value="full_paid" {% if request.GET.search_payment_status == 'full_paid' %}selected{% endif %}>Fully Paid</option>
                                </select>
                            </div>
                            {% endif %}
                            <div class="col-md-12 mt-2" align="center">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- [table] start -->
        <div class="col-lg-12">
            <div class="card stretch stretch-full">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover table-responsive" id="datatable">
                                <thead>
                                    <tr>
                                        <th>Client Id</th>
                                        <th>Name</th>
                                        <th>DOB</th>
                                        <th>Visa Type</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for applicant in applicants %}
                                    <tr>
                                        <td>{{ applicant.client_id }}</td>
                                        <td>{{ applicant.f_name }} {{ applicant.l_name }}</td>
                                        <td>{{ applicant.dob }}</td>
                                        <td>{{ applicant.application_type }}</td>
                                        <td>{{ applicant.status }}</td>
                                        <td>
                                            <div class="hstack gap-2 justify-content-start">
                                                <a href="{% url 'view_applicant' applicant.id %}" title="View Application" class="avatar-text avatar-md">
                                                    <i class="feather feather-eye"></i>
                                                </a>
                                                <a download href="media/{{applicant.service_agreement}}" title="Download Service Agreement" class="avatar-text avatar-md">
                                                    <i class="feather feather-download"></i>
                                                </a>
                                                {% if request.user.profile.role != 'frontdesk' %}
                                                <a href="{% url 'edit_applicant' applicant.id %}" title="Edit Application" class="avatar-text avatar-md">
                                                    <i class="feather feather-edit-2"></i>
                                                </a>
                                                {% endif %}
                                                {% if request.user.profile.role == "manager" or request.user.profile.role == "admin" %}
                                                <button title="Add Payment" data-id="{{ applicant.id }}" data-balance="{{ applicant.balance_amount }}" data-name="{{ applicant.f_name }} {{ applicant.l_name }}" class="avatar-text avatar-md payment-btn">
                                                    <i class="feather feather-dollar-sign"></i>
                                                </button>
                                                {% endif %}

                                                {% if request.user.profile.role == "admin" %}
                                                <form action="{% url 'delete_applicant' %}" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{applicant.id}}" name="id">
                                                    <button type="submit" onclick="return confirm('Are you sure you want to delete - {{ applicant.f_name }} {{ applicant.l_name }} ({{applicant.client_id}})? Note: it cannot be reversed');" title="Delete Application" class="avatar-text avatar-md">
                                                        <i class="feather feather-trash-2"></i>
                                                    </button>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [table] end !-->
    </div>
</div>
<!-- [ Main Content ] end -->


<!-- Payment Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel">Add Payment for <span id="paymentApplicantName"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="{% url 'add_payment' %}" id="paymentForm">
          {% csrf_token %}
          <input type="hidden" name="applicant_id" id="paymentApplicantId">
          <div class="modal-body">
            <div class="form-group">
                <label for="applicantBalance">Balance Amount</label>
                <input type="number" name="balance" id="applicantBalance" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="paymentAmount">Enter Amount</label>
                <input type="number" step="0.01" name="amount" id="paymentAmount" class="form-control" required min="0">
            </div>

            <div class="form-group">
                <label for="adjustAmount">Adjustment Amount</label>
                <input type="number" step="0.01" name="adjustAmount" id="adjustAmount" class="form-control" value="0" required min="0">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Payment</button>
          </div>
      </form>
    </div>
  </div>
</div>




{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            responsive: true
        });

        $('#search_start_date').on('change', function () {
            var startDate = $(this).val();
            $('#search_end_date').attr('min', startDate);
            $('#search_end_date').prop('required', true);
        });

        var today = new Date().toISOString().split('T')[0];
        $('#search_start_date').attr('max', today);
        $('#search_end_date').attr('max', today);

        // Handle payment button click
        $('.payment-btn').on('click', function () {
            var applicantId = $(this).data('id');
            var applicantName = $(this).data('name');
            var balance = $(this).data('balance');

            $('#paymentApplicantId').val(applicantId);
            $('#paymentApplicantName').text(applicantName);
            $('#applicantBalance').val(balance);

            $('#paymentModal').modal('show');
        });

        // Handle form submission for payment
        $('#paymentForm').on('submit', function (e) {
            var balance = parseFloat($('#applicantBalance').val());
            var amount = parseFloat($('#paymentAmount').val());

            if (amount > balance) {
                e.preventDefault(); // Prevent form submission
                alert('Error: Payment amount cannot be greater than the balance.');
            }
        });
    });
</script>
{% endblock %}
