    {% extends 'base.html' %}

    {% block main %}
    <!-- [ page-header ] start -->
    <div class="page-header">
        <div class="page-header-left d-flex align-items-center">
            <div class="page-header-title">
                <h5 class="m-b-10">Settings</h5>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Settings</li>
            </ul>
        </div>
    </div>
    <!-- [ page-header ] end -->
    <!-- [ Main Content ] start -->
    <div class="main-content" style="min-height: 70vh;">
        <div class="row">
            <!-- [table] start -->
            <div class="col-lg-12">
                <div class="card stretch stretch-full">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-12" style="padding:30px;">
                              {% load crispy_forms_tags %}
                              <form  method="post" action="/change-password" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  {{ form|crispy }}
                                    <br><br>
                                  <center>
                                      <button type="submit" class="btn btn-primary">Change Password</button>
                                  </center>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [table] end !-->
        </div>
    </div>
    <!-- [ Main Content ] end -->

    {% endblock %}

    {% block script %}
    <script>
        $(document).ready( function () {
            $('#datatable').DataTable({
                responsive: true
            });
        } );
    </script>
    {% endblock %}